<!DOCTYPE html>
<html>
  <head>
    <title>Blogapp</title>
    <style type="text/css" href="./style.css"></style>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- マテリアライズセット1 Googleアイコンフォントのインポート -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- マテリアライズセット2 Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- マテリアライズセット3 Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/partials/nav' %>
    <script type="text/javascript" src="./index.js"></script>
    <%= yield %>
    <%= render 'layouts/partials/footer' %>
  </body>
</html>
